body{
	padding: 40px 0;
	background: #7abfce;
	
	#main{
		padding: 20px 10px;
		.border-radius(10px);
		background: #f0faf0;
		background-image: url(../img/noise.png);
		.box-shadow(1px 1px 0 #666);
		
		#logo{
			text-shadow: 0 2px 3px #555;
			font-size: 36px;
		}
		
		.bracket{
			color: #999;
			font-weight: normal;
		}
		
		.string, .string a{
			color: #393;
			font-style: italic;
		}

		.array .string{
			color: #933;
		}
		
		.indent{
			margin-left: 60px;
		}
	}
}
