section{
	margin:20px 0;
	
	& > h1:before, & > h2:before, & > h3:before{
		content:'"';
	}
	& > h1:after, & > h2:after, & > h3:after{
		content:'": {';
	}
	&:after{
		content:'},';
	}
	&:last-of-type:after{
		content:'};';
	}
	
	ul, dl{
		list-style:none;
		
		li:not(:last-of-type):after, dd:not(:last-of-type):after{
			content:',';
		}
	}
}
