body{
	background: #396;
	color: #666;
	
	#main{
		h2, h3, h4, h5, h6{
			color: #666;
		}

		.string, .string a{
			color: #393;
			font-style: italic;
		}

		.array .string{
			color: #933;
		}
		
		.indent{
			margin-left: 60px;
		}
	}
}
