<div class="content">
	<h1 class="root"><small class="keyword">var</small> <span id="logo">{{contact.name}}</span> = {</h1>

	<section class="object">
		<div class="row">
			<h2 class="offset1 span4 key">Contact</h2>
		</div>
		<div class="row">
			<h3 class="offset2 span1 key">Email</h3>
			<div class="span3">
				<a href="mailto:{{contact.email}}" class="value string">{{contact.email}}</a>
			</div>
		</div>
		<div class="row">
			<h3 class="offset2 span1 key">Phone</h3>
			<div class="span3">
				<a href="tel:{{contact.phone}}" class="value string">{{contact.phone}}</a>
			</div>
		</div>
		<div class="row">
			<h3 class="offset2 span1 key">Address</h3>
			<div class="span3">
				<div class="row">
					<div class="span3 value string"><a href="{{address.link}}">{{address.street}}</a></div>
				</div>
				<div class="row">
					<div class="span3 value string"><a href="{{address.link}}">{{address.city}}, {{address.state}} {{address.zip}}</a></div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="array">
		<div class="row">
			<h2 class="offset1 span4 key">Skills</h2>
		</div>
		{{#each skills}}
			<div class="row">
				<div class="offset2 span4 value string">{{this}}</div>
			</div>
		{{/each}}
	</section>
	
	<section class="object">
		<div class="row">
			<h2 class="offset1 span4 key">Experience</h2>
		</div>
		{{#each experience}}
			<section>
				<div class="row">
					<h3 class="offset2 span4 key"><a href="{{link}}">{{who}}</a></h3>
				</div>
				{{#if what}}
					<div class="row">
						<h4 class="offset3 span1 key">Position</h4>
						<div class="span6 value string">{{what}}</div>
					</div>
				{{/if}}
				{{#if when}}
					<div class="row">
						<h4 class="offset3 span1 key">When</h4>
						<div class="span6 value string">{{when}}</div>
					</div>
				{{/if}}
				{{#if where}}
					<div class="row">
						<h4 class="offset3 span1 key">Location</h4>
						<div class="span6 value string">{{where}}</div>
					</div>
				{{/if}}
				{{#if why}}
					<div class="row">
						<h4 class="offset3 span1 key">Tagline</h4>
						<div class="span6 value string">{{why}}</div>
					</div>
				{{/if}}
				{{#if how}}
					<div class="row">
						<h4 class="offset3 span1 key">Tasks</h4>
						<div class="span5 array">
							{{#each how}}
								<div class="row">
									<div class="indent span5 value string">{{this}}</div>
								</div>
							{{/each}}
						</div>
					</div>
				{{/if}}
			</section>
		{{/each}}
	</section>
	
	<section class="object">
		<div class="row">
			<h2 class="offset1 span4 key">Education</h2>
		</div>
		<h2></h2>
		{{#each education}}
			<section>
				<div class="row">
					<h3 class="offset2 span4 key"><a href="{{link}}">{{who}}</a></h3>
				</div>
				{{#if what}}
					<div class="row">
						<h4 class="offset3 span1 key">Degree</h4>
						<div class="span6 value string">{{what}}</div>
					</div>
				{{/if}}
				{{#if when}}
					<div class="row">
						<h4 class="offset3 span1 key">When</h4>
						<div class="span6 value string">{{when}}</div>
					</div>
				{{/if}}
				{{#if where}}
					<div class="row">
						<h4 class="offset3 span1 key">Location</h4>
						<div class="span6 value string">{{where}}</div>
					</div>
				{{/if}}
				{{#if why}}
					<div class="row">
						<h4 class="offset3 span1 key">Type</h4>
						<div class="span6 value string">{{why}}</div>
					</div>
				{{/if}}
			</section>
		{{/each}}
	</section>
	
	<h1 class="root">};</h1>
</div>
